body{
	background: #F84F4D;
}




header {
	background-color: #3498bd;
	color: #fff
	text-align: center;
	padding: 20px;
	border-radius: 10px;
}

div.bloc1{
	background-color: green;
	height: 500px;
	width: 400px;
	float: left;
	margin: 10px;
	border-radius: 10px;
	border: 10px solid red;
	
}

div.bloc3{
	background-color: red;
	height: 500px;
	width:400px;
	float: left;
	margin: 10px;
	border-radius: 10px;
	border: 10px solid #F8FD57;
	
	
}

div.bloc4{
	background-color: pink;
	height: 500px;
	width: 400px;
	float: left;
	margin: 10px;
	border-radius: 10px;
	border: 10px solid black;
	
}

footer{
	background-color: red;
	color:black;
	text-align: center;
	padding: 10px;
	clear: both;
	border-radius: 10px;
}